<configuration>
  <appSettings>
    <add key="domain" value="mydomain" />
    <add key="username" value="myusername" />
    <add key="password" value="mypassword" />
    <add key="proxyUri" value="http://myproxy:80" />
    <add key="pathToConfigFile" value="C:\GitRepos\SvcUtil.Extension.InjectProxy\SvcUtil.Extension.InjectProxy\bin\Release\SvcUtil.Extension.InjectProxy.dll.config"/>
  </appSettings>
</configuration>
