<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false">
      <module type="SvcUtil.Extension.InjectProxy.Proxy, SvcUtil.Extension.InjectProxy, Version=1.0.0.0, Culture=neutral, PublicKeyToken=ca3a2630a0a1bdb7" />
    </defaultProxy>
  </system.net>
</configuration>